/* List.css */

/* Table Container */
.MuiTableContainer-root {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  /* Table Styles */
  .MuiTable-root {
    min-width: 650px;
    background-color: #ffffff;
  }
  
  /* Table Header */
  .MuiTableHead-root {
    background-color: #f0f0f0;
  }
  
  .MuiTableCell-head {
    font-weight: bold;
    text-align: center;
    padding: 16px;
    font-size: 1rem;
    color: #333333;
    border-bottom: 2px solid #e0e0e0;
  }
  
  /* Table Body */
  .MuiTableCell-body {
    text-align: center;
    font-size: 0.9rem;
    color: #555555;
    padding: 12px;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .MuiTableRow-root {
    transition: background-color 0.3s ease;
  }
  
  .MuiTableRow-root:hover {
    background-color: #f9f9f9;
  }
  
  /* Image Styling */
  .table-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
  
  /* Action Icon */
  .material-symbols-outlined {
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .material-symbols-outlined:hover {
    color: #c62828;
  }
  .MuiTableContainer-root{
    margin: 50px;
    overflow:hidden
  }